.subBanner {
    height: 70vh;
    background-image: url("../../public/ASSETS/IMAGES/Frame\ 25.webp");
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}