.inputStyle {
    width: 100%;
    padding:  8px 48px;
    background: transparent;
    border: 2px solid #aaaaaa;
}

.inputStyle::placeholder{
    color: #5A5A5A;
    font-size: 12px;
}

.inputStyle:focus{
    border: 2px solid #312a3e;
    outline: none;
}

@media (min-width: 1024px) {
    .inputStyle{
        padding: 12px 48px;
    }
    .inputStyle::placeholder{
        font-size: 16px;
    }
}